<bonds>
    <watch_list>
        <bond code="111006" name="嵘泰转债"/>
        <bond code="113647" name="禾丰转债"/>
        <bond code="118000" name="嘉元转债"/>
        <bond code="127066" name="科利转债"/>
        <bond code="123145" name="药石转债"/>
        <bond code="123072" name="乐歌转债"/>
        <bond code="127051" name="博杰转债"/>
        <bond code="128120" name="联诚转债"/>
        <bond code="110085" name="通22转债"/>
        <bond code="113602" name="景20转债"/>
        <bond code="127019" name="国城转债"/>
        <bond code="127052" name="西子转债"/>
        <bond code="113570" name="百达转债"/>
        <bond code="128069" name="华森转债"/>
        <bond code="128042" name="凯中转债"/>
        <bond code="123127" name="耐普转债"/>
        <bond code="113625" name="江山转债"/>
        <bond code="123131" name="奥飞转债"/>
        <bond code="128083" name="新北转债"/>
        <bond code="113048" name="晶科转债"/>
        <bond code="110057" name="现代转债"/>
        <bond code="113622" name="杭叉转债"/>
        <bond code="127046" name="百润转债"/>
        <bond code="113605" name="大参转债"/>
        <bond code="113605" name="大参转债"/>
        <bond code="113584" name="家悦转债"/>
        <bond code="113047" name="旗滨转债"/>
        <bond code="128133" name="奇正转债"/>
        <bond code="113054" name="绿动转债"/>
        <bond code="128072" name="翔鹭转债"/>
        <bond code="113591" name="胜达转债"/>
        <bond code="110061" name="川投转债"/>
        <bond code="113059" name="福莱转债"/>
        <bond code="123133" name="佩蒂转债"/>
    </watch_list>
    <my_list>
        <bond code="110089" name="兴发转债"/>
        <bond code="127027" name="靖远转债"/>
        <bond code="128087" name="孚日转债"/>
        <bond code="123100" name="朗科转债"/>
        <bond code="128085" name="鸿达转债"/>
        <bond code="118005" name="天奈转债"/>
        <bond code="118015" name="芯海转债"/>
        <bond code="123122" name="富瀚转债"/>
        <bond code="113619" name="世运转债"/>
        <bond code="113053" name="隆22转债"/>
        <bond code="123087" name="明电转债"/>
        <bond code="123128" name="首华转债"/>
        <bond code="113604" name="多伦转债"/>
        <bond code="110058" name="永鼎转债"/>
        <bond code="123076" name="强力转债"/>
        <bond code="113593" name="沪工转债"/>
        <bond code="123101" name="拓斯转债"/>
        <bond code="113624" name="正川转债"/>
        <bond code="113610" name="灵康转债"/>
        <bond code="113606" name="荣泰转债"/>
        <bond code="113045" name="环旭转债"/>
        <bond code="123109" name="昌红转债"/>
        <bond code="110087" name="天业转债"/>
        <bond code="127040" name="国泰转债"/>
        <bond code="113641" name="华友转债"/>
        <bond code="128035" name="大族转债"/>
        <bond code="128063" name="未来转债"/>
        <bond code="128136" name="立讯转债"/>
        <bond code="128114" name="正邦转债"/>
        <bond code="110084" name="贵燃转债"/>
        <bond code="118004" name="博瑞转债"/>
        <bond code="128131" name="崇达转2"/>
        <bond code="127061" name="美锦转债"/>
        <bond code="128066" name="亚泰转债"/>
        <bond code="123064" name="万孚转债"/>
        <bond code="113056" name="重银转债"/>
        <bond code="113616" name="韦尔转债"/>
        <bond code="110081" name="闻泰转债"/>
        <bond code="110076" name="华海转债"/>
        <bond code="110082" name="XD宏发转"/>
        <bond code="123115" name="捷捷转债"/>
        <bond code="128124" name="科华转债"/>
        <bond code="127026" name="超声转债"/>
        <bond code="113052" name="兴业转债"/>
        <bond code="110067" name="华安转债"/>
        <bond code="128135" name="洽洽转债"/>
        <bond code="110073" name="国投转债"/>
        <bond code="123099" name="普利转债"/>
        <bond code="128138" name="侨银转债"/>
        <bond code="127041" name="弘亚转债"/>
        <bond code="113639" name="华正转债"/>
        <bond code="127005" name="长证转债"/>
        <bond code="123117" name="健帆转债"/>
        <bond code="113628" name="晨丰转债"/>
        <bond code="110079" name="杭银转债"/>
        <bond code="113505" name="杭电转债"/>
        <bond code="110083" name="苏租转债"/>
        <bond code="113633" name="科沃转债"/>
        <bond code="123124" name="晶瑞转2"/>
        <bond code="127012" name="招路转债"/>
        <bond code="110045" name="海澜转债"/>
        <bond code="113050" name="南银转债"/>
        <bond code="110053" name="苏银转债"/>
        <bond code="110080" name="东湖转债"/>
        <bond code="128129" name="青农转债"/>
        <bond code="113037" name="紫银转债"/>
        <bond code="113044" name="大秦转债"/>
    </my_list>
</bonds>

